<section class="creat-income section">
        <div class="incomes-title-block title-block">
            <h1 class="incomes-title title">Создание категории доходов</h1>
        </div>
        <div class="options-block">
            <input class="form-control option-input" id="income-create" type="text" placeholder="Название..." required>
            <div class="creating-income-active d-flex">
                <button class="btn-action green-btn" id="create-btn" type="button">Создать</button>
                <button class="btn-action red-btn" id="cancel-btn" type="button">Отмена</button>
            </div>
        </div>
</section>