<section class="edit-income section">
        <div class="incomes-title-block title-block">
            <h1 class="edit-incomes-title title">Редактирование категории доходов</h1>
        </div>
        <div class="options-block ">
            <input class="form-control option-input"  type="text" placeholder="Название..." required>
            <div class="creating-income-active d-flex">
                <button class="btn-action green-btn" id="edit-btn" type="button">Создать</button>
                <button class="btn-action red-btn" id="cancel-btn" type="button">Отмена</button>
            </div>
        </div>

</section>