<section class="incomes section">
    <div class="incomes-title-block title-block">
        <h1 class="incomes-title title">Доходы</h1>
    </div>
    <div class="categories " id="incomes-container">
        <div class="box" id="block-adding">
            <h2 class="title-card">Депозиты</h2>
            <div class="action">
                <button class="edit action-box-btn " id="edit">Редактировать</button>
                <button class="delete action-box-btn" id="delete">Удалить</button>
            </div>
        </div>
        <div class="box ">
            <h2 class="title-card">Зарплата</h2>
            <div class="action">
                <button class="edit action-box-btn ">Редактировать</button>
                <button class="delete action-box-btn ">Удалить</button>
            </div>
        </div>
        <div class="box ">
            <h2 class="title-card">Сбережения</h2>
            <div class="action">
                <button class="edit action-box-btn ">Редактировать</button>
                <button class="delete action-box-btn ">Удалить</button>
            </div>
        </div>

        <div class="box ">
            <h2 class="title-card">Инвестиции</h2>
            <div class="action">
                <button class="edit action-box-btn ">Редактировать</button>
                <button class="delete action-box-btn ">Удалить</button>
            </div>
        </div>

        <div class="box empty-box">
            <button class="plus" id="creation"> +</button>
        </div>
    </div>


    <div class="pop-up" id="pop-up">
        <div class="pop-up__container">
            <div class="pop-up__body">
                <span class="pop-up__text">Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</span>
                <div class="pop-up__action">
                    <button class="btn-action green-btn" id="agree-button">Да, удалить</button>
                    <button class="btn-action red-btn" id="not-agree-button">Не удалять</button>
                </div>

            </div>
        </div>
    </div>
</section>
