body {
  height: 100vh;
}

.sidebar {
  bottom: 0;
  float: right;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.sidebar-background {
  background-color: #ffffff;
}

.sidebar-logo {
  padding: 40px 70px 20px 50px;
}

.sidebar-menu {
  padding: 60px 20px 0 20px;
}

.btn-toggle:not(.collapsed) svg{
  transform: rotate(90deg);
}


.btn-toggle.collapsed svg {
  transform: rotate(0deg);
}

.path-svg {
  margin-left: 72px;
}
.active svg path{
  fill: #FFFFFF;
}


.sidebar-balance {
  padding: 10px 10px 20px 20px;
}

.user-panel {
  padding: 20px 10px 40px 20px;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  margin: 0;
  transform: translate3d(0px, -36px, 0px);
}

.dropdown-item {
  font-size: 14px;
}

.bg-border-light {
  border-color: #d9d9d9;
}

.nav-item {
  border: none;
  border-radius: 5px;
}


.link-custom {
  color: #052c65;
}

.nav-item:hover {
  background: #0D6EFD;
}

.nav-item:hover a {
  color: #FFFFFF;
}
.nav-item:hover button {
  color: #FFFFFF;
}
.nav-item:hover svg path {
  fill: #FFFFFF;
}



.collapse {
  border-top: none;
  border-right: 1px solid #0D6EFD;
  border-left: 1px solid #0D6EFD;
  border-bottom: 1px solid #0D6EFD;
  border-radius: 0 0 5px 5px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #0D6EFD !important;
}

.collapse-item:hover a {
  background: #0D6EFD;
  color: #FFFFFF;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  background-color: #72a5f1;
  border: #72a5f1;;
}

.dropdown-toggle::after {
  content: none;
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.dropdown-menu {
  &:not(.show) {
    display: none;
  }
}

.user-info-item {
  margin-left: 16px;
}

.dropdown-item{
  display: flex;
}

.dropdown-item-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #052C65;
}

.dropdown-item-svg {
  width: 15px;
}
.dropdown-item:hover{
  background-color: #0D6EFD;
}

.dropdown-item:hover span{
  color: #FFFFFF;
}
.dropdown-item:hover svg path{
  fill: #FFFFFF;
}
