.operations-active{
  margin-bottom: 40px;
  margin-left: 48px;
}

.operations-filter{
margin-bottom: 40px !important;
 }

.operations-table{
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  border-top: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
}

.table-option{
  width: 119px;
  padding: 15px 15px 16px 15px;
  font-family: Roboto-Bold,sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: #052C65;
  text-align: center;
}

