<section class="expenses section">
        <div class="expenses-title-block title-block ">
            <h1 class="expenses-title title">Создание категории расходов</h1>
        </div>
        <div class="creating-expenses-container">
            <div class="options-block">
                <input class="form-control option-input" id="title-new-category" type="text" placeholder="Название..." required>
                <div class="creating-expense-active d-flex">
                    <button class="btn-action green-btn" id="creating-category" type="button">Создать</button>
                    <button class="btn-action red-btn" id="button-back" type="button">Отмена</button>
                </div>
            </div>
        </div>
</section>