<section class="expenses section">
        <div class="expenses-title-block title-block ">
            <h1 class="expenses-title title">Редактирование категории расходов</h1>
        </div>
        <div class="options-block">
            <div class="edit-expense-block ">
                <input class="form-control option-input"  type="text" placeholder="Название..." required>
                <div class="creating-income-active d-flex">
                    <button class="btn-action green-btn" type="button">Сохранить</button>
                    <button class="btn-action red-btn" type="button">Отмена</button>
                </div>
            </div>
        </div>
</section>