<section class="expenses section">
        <div class="expenses-title-block title-block ">
            <h1 class="expenses-title title">Расходы</h1>
        </div>
        <div class="categories">
            <div class="box">
                <h2 class="title-card">Еда</h2>
                <div class="action">
                    <button class="edit action-box-btn " id="edit">Редактировать</button>
                    <button class="delete action-box-btn" id="delete">Удалить</button>
                </div>

            </div>
            <div class="box ">
                <h2 class="title-card">Жильё</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>
            <div class="box ">
                <h2 class="title-card">Здоровье</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>

            <div class="box ">
                <h2 class="title-card">Кафе</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>

            <div class="box ">
                <h2 class="title-card">Авто</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>

            <div class="box ">
                <h2 class="title-card">Одежда</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>
            <div class="box ">
                <h2 class="title-card">Развлечения</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>
            <div class="box ">
                <h2 class="title-card">Счета</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>
            <div class="box ">
                <h2 class="title-card">Спорт</h2>
                <div class="action">
                    <button class="edit action-box-btn ">Редактировать</button>
                    <button class="delete action-box-btn ">Удалить</button>
                </div>
            </div>

            <div class="box empty-box">
                <div class="action">
                    <button class="plus" id="creation"> +</button>
                </div>

            </div>


            <div class="pop-up" id="pop-up">
                <div class="pop-up__container">
                    <div class="pop-up__body">
                        <span class="pop-up__text">Вы действительно хотите удалить категорию? </span>
                        <div class="pop-up__action">
                            <button class="btn-action green-btn" id="agree-button">Да, удалить</button>
                            <button class="btn-action red-btn" id="not-agree-button">Не удалять</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
