<section class="options section">
        <div class="operations-title-block title-block">
            <h1 class="operations-title title">Доходы и расходы</h1>
        </div>
        <div class="operations-active">
            <a href="/creat-operation" class="btn-action green-btn" type="button" id="creating-income">Создать доход</a>
            <a href="/creat-operation" class="btn-action red-btn" type="button" id="creating-expense">Создать расход</a>
        </div>
        <div class="main-filter operations-filter d-flex flex-row flex-wrap align-items-center">
            <nav class="main-filter-block">
                <a href="/operations?period=today" class="filter-button btn  border-secondary w-100 " type="button"
                        id="main-button-today" data-period="today">Сегодня
                </a>
            </nav>
            <nav class="main-filter-block">
                <a href="/operations?period=week" class="filter-button btn border-secondary w-100" type="button"
                        id="main-button-week" data-period="week">
                    Неделя
                </a>
            </nav>
            <nav class="main-filter-block">
                <a href="/operations?period=month" class="filter-button btn border-secondary w-100" type="button"
                        id="main-button-month" data-period="month">
                    Месяц
                </a>
            </nav>
            <nav class="main-filter-block">
                <a href="/operations?period=year" class="filter-button btn border-secondary w-100" type="button"
                        id="main-button-year" data-period="year">Год
                </a>
            </nav>
            <nav class="main-filter-block">
                <a  href="/operations?period=all" class="filter-button btn border-secondary w-100" type="button" id="main-button-all"
                        data-period="all">
                    Все
                </a>
            </nav>
            <nav class="main-filter-block">
                <a href="/operations?period=interval" class="filter-button btn border-secondary w-100" type="button"
                        id="main-button-interval" data-period="interval">
                    Интервал
                </a>
            </nav>
            <nav class="main-filter-block d-flex" id="date-elements">
                <span>с</span>
                <input class="input-filter-block" id="dateFrom" placeholder="Дата" disabled>
                <span>по</span>
                <input class="input-filter-block" id="dateTo" placeholder="Дата" disabled>
            </nav>
        </div>
        <div>
           <table  class="operations-table" id="data-table">
               <thead>
               <tr>
                   <th class="table-title" scope="col">№ операции</th>
                   <th class="table-title" scope="col">Тип</th>
                   <th class="table-title" scope="col">Категория</th>
                   <th class="table-title" scope="col">Сумма</th>
                   <th class="table-title" scope="col">Дата</th>
                   <th class="table-title" scope="col">Комментарий</th>
                   <th class="table-title" scope="col"></th>
               </tr>
               </thead>
               <tbody id='operations-table-body'>
               </tbody>
           </table>
        </div>


    <div class="pop-up-operation" id="pop-up-operation">
        <div class="pop-up__container">
            <div class="pop-up__body">
                <span class="pop-up__text">Вы действительно хотите удалить операцию? </span>
                <div class="pop-up__action">
                    <a class="btn-action green-btn" id="delete-operation" href = "">Да, удалить</a>
                    <a class="btn-action red-btn" id="notDelete-operation" href="javascript:void(0)">Не удалять</a>
                </div>

            </div>
        </div>
    </div>
</section>
